{% extends "auctions/layout.html" %} 

{% block body %}

<h1>{{ listing.title }}</h1>
<h3>{{ listing.owner.username }}</h3>
<!-- IF winner, display winner and closing price -->
{% if listing.winner %}
<h4>Won by {{ listing.winner.username }} for {{ highest_bid.price }}</h4>
{% endif %}
<!-- TODO -->
<!-- Else -->
<ul>
  {% if highest_bid%}
  <li>Current highest bid: ${{ highest_bid.price }}</li>
  {% else%}
  <li>Starting bids at: ${{ listing.starting_bid }}</li>
  {% endif %}
  {% if user.is_authenticated and user != listing.owner and listing.active%}
  <li>
    <form method="POST" action="{% url 'create_bid' listing.id %}">
      {% csrf_token %}
      <div class="form-control">
        <label class="form-label">Bid</label>
        <input type="number" name="price">
      </div>
    </form>
  </li>
  {% endif %}
  <!-- {% if user.is_authenticated %} -->
  {% if user.is_authenticated and  is_owner and listing.active %}
  <li>
    <form method="post" action="{% url 'close_auction' listing.id %}">
      {% csrf_token %}
      <button class="btn btn-danger">Close Auction</button>
    </form>
    {% elif listing.active %}
    <div class="btn-group" role="group" aria-label="...">
      <form method="post" action="{% url 'add_remove_watchlist' listing.id %}">
        {% csrf_token %}    
        {% if watching %}
        <button type="submit" class="btn btn-danger">Unwatch</button>
        {% else %}
        <button type="submit" class="btn btn-info">Watch</button>
        {% endif %}
      </form>
    </div>
    {% endif %}
  {% endif %}
  </li>
  <li>Comments:</li>
  <ul>
    {% for c in comments %}
    <li>{{ c.description}} - {{ c.user_id.username}}</li>
    {% endfor %}
    <!-- User should be authenticated and listing should be active -->
    {% if user.is_authenticated and listing.active %}
    <li>
      <form method="post" action="{% url 'insert_comment' listing.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="description" class="form-label">Comment here</label>
          <input name="description" class="form-control"/>
          <button class="btn btn-success">Submit</button>
        </div>
      </form>

    </li>
    {% endif %}
  </ul>
</ul>

{% endblock %}
